* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  font-size: 2.5em;
  font-family: "ZCOOL KuaiLe", cursive;
  background-color: rgb(247, 247, 247);
}
#rock {
  background: url(../img/r.jpeg) no-repeat;
  width: 30%;
  height: 25vh;
  border: none;
}
#scissor {
  background: url(../img/s.png) no-repeat;
  width: 30%;
  height: 25vh;
  border: none;
}
#paper {
  background: url(../img/p.png) no-repeat;
  width: 30%;
  height: 25vh;
  border: none;
}
#btn {
  margin-top: 10%;
  width: 50%;
  height: 6vh;
  border-radius: 5px;
  background-color: orange;
  font-family: "ZCOOL KuaiLe", cursive;
  font-size: 1em;
}
#btn:before {
  content: "👉 ";
}
section {
  padding-top: 5%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15%;
}

h1 {
  margin-bottom: 10%;
}
